* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.title {
  margin: 0;
  word-break: break-all;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
}

html,
body,
#sapper {
  width: 100%;
  overflow-x: hidden;
}

.content {
  padding: 40px 0;
}

@media (min-width: 860px) {
  .content {
    padding: 80px 0;
  }
}

.stickout {
  position: relative;
}

.stickout:before {
  content: " ";
  position: absolute;
  z-index: 9;
  pointer-events: none;
  top: -10px;
  bottom: -10px;
  left: 0;
  right: 0;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #cecece;
}

.stickout:after {
  content: " ";
  position: absolute;
  z-index: 9;
  pointer-events: none;
  left: -10px;
  right: -10px;
  top: 0;
  bottom: 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #cecece;
}
